Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool
stamp-h1
.deps
.libs
*.o
*.lo
*.la
*.sw*
*~
oggz-uninstalled.pc
oggz.pc
apache/oggz-chop.conf
doc/Doxyfile
doc/doxygen-build.stamp
doc/liboggz
include/oggz/oggz_off_t_generated.h
src/liboggz/Version_script
src/examples/dump-comments
src/examples/fix-eos
src/examples/identity
src/examples/modify-headers
src/examples/read-file
src/examples/read-io
src/examples/rewrite-pages
src/examples/write-feed
src/examples/write-hungry
src/tests/comment-test
src/tests/io-count
src/tests/io-read
src/tests/io-read-single
src/tests/io-run
src/tests/io-seek
src/tests/io-write
src/tests/io-write-flush
src/tests/read-generated
src/tests/read-stop-err
src/tests/read-stop-ok
src/tests/seek-stress
src/tests/write-bad-bos
src/tests/write-bad-bytes
src/tests/write-bad-eos
src/tests/write-bad-granulepos
src/tests/write-bad-guard
src/tests/write-bad-packetno
src/tests/write-bad-serialno
src/tests/write-dup-bos
src/tests/write-prefix
src/tests/write-recursive
src/tests/write-suffix
src/tests/write-unmarked-guard
src/tools/oggz
src/tools/oggz-basetime
src/tools/oggz-chop/httpdate_test
src/tools/oggz-chop/oggz-chop
src/tools/oggz-codecs
src/tools/oggz-comment
src/tools/oggz-diff
src/tools/oggz-dump
src/tools/oggz-info
src/tools/oggz-known-codecs
src/tools/oggz-merge
src/tools/oggz-rip
src/tools/oggz-scan
src/tools/oggz-sort
src/tools/oggz-validate
